/* You can add global styles to this file, and also import other style files */

td{
    padding:40px;
    vertical-align: top;
    border:10px solid #fff;
    background: #eae7e7;
}
img{
    width:150px;
}